@import '../../style/mixins/overflowY.scss';

.container{
    .content{
        @media only screen and (max-width:768px){
            display:flex;
            flex-direction:column;
        }

        .columnCards{
            @include overflowY;
            
            .card{
                margin-bottom: 1rem;
            }

            .rowInfoCard{
                div{
                    display:flex;
                    align-items:center;
                }
            }
        }

        .detalhesAtivo{
            div + div{
                margin-bottom: 1rem;
            }

            .rowInfo{
                margin-bottom: 2rem;

                .nameItem{
                    display:flex;
                    align-items: center;
                }
            }
        }
    }  
}