.container{
    .content{
        @media only screen and (max-width:768px){
            display:flex;
            flex-direction:column;
        }

        .columnCards{
            max-height: 600px;
            overflow-y: auto;
            padding-right: 2rem;

            &::-webkit-scrollbar {
                width: 5px;               /* width of the entire scrollbar */
            }
              
            &::-webkit-scrollbar-track {
                background: var(--gray-6);        /* color of the tracking area */
            }
              
            &::-webkit-scrollbar-thumb {
                background: var(--gray-10);    /* color of the scroll thumb */
                border-radius: 20px;       /* roundness of the scroll thumb */
            }

            .card{
                margin-bottom: 1rem;
            }

            .rowInfoCard{
                div{
                    display:flex;
                    align-items:center;
                }
            }
        }

        .detalhesAtivo{
            .rowInfo{
                margin-bottom: 2rem;

                .nameItem{
                    display:flex;
                    align-items: center;
                }
            }
        }
    }  
}